@model Datakoppu.Models.Playground

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Playground</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstablishmentYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroundName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroundName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PlaygroundID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
