@model IEnumerable<Datakoppu.Models.Playground>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PlaygroundID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PlaygroundID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PlaygroundID">Delete</a>
        </td>
    </tr>
}
</table>
